@import url("https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Text Me One", sans-serif;
  box-sizing: border-box;
}

/* ===============header============ */

.header {
  background-color: #006666;
  height: 3rem;
}
.container {
  margin: 0 auto;
  width: 70%;
}

.nav-item {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
}
.brand {
  /* border: 1px solid pink; */
  text-decoration: none;
}
.brand h2 {
  color: navy;
  font-weight: bolder;
}
.nav-link {
  /* border: 1px solid magenta; */
}
ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
li {
  padding-left: 1rem;
  padding-top: 0.5rem;
}
.link {
  text-decoration: none;
  cursor: pointer;
  color: aliceblue;
  font-weight: 600;
  cursor: pointer;
  padding-bottom: 1rem;
}
.link:hover {
  font-weight: 600;
  color: #707070;
  text-decoration: 5px solid #3b3b3b underline;
}
.btn-link-to-create-page {
  margin: 1rem 0;
}

.create-article {
  text-decoration: none;
  margin-top: 8rem;
  background-color: #018d8d;
  color: aliceblue;
  padding: 0.5rem;
}
.create-article:hover {
  background-color: aquamarine;
  color: rgb(15, 15, 15);
}

/* ===============article part=============== */

.article-list {
  /* border: 3px dotted black; */
}
.single-article {
  /* border: 1px dotted blue; */
  margin: 2rem 0;
}
.single-article h1 {
  text-align: center;
}
.article-header {
  display: flex;
  justify-content: space-between;
}
.title {
  /* border: 1px solid green; */
}
.article-title {
  font-size: larger;
  font-weight: bolder;
}
.controller {
  /* border: 1px solid greenyellow; */
}
.buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
}
.del-btn {
  padding: 0.5rem;
  background-color: crimson;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.del-btn:hover {
  background-color: rgb(243, 66, 102);
}
.edit-btn {
  padding: 0.5rem;
  margin-left: 1rem;
  background-color: rgb(39, 39, 247);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.edit-btn:hover {
  background-color: rgb(74, 74, 252);
}
.article-body {
  /* border: 2px solid brown; */
  margin: 1rem 0;
}
.article-body p {
  text-align: justify;
  text-justify: auto;
}

/* =============forms================= */
.form-title {
  text-align: center;
  margin-bottom: 1rem;
}
.label {
  color: #3b3b3b;
}
.input-field {
  padding: 0.5rem;
  width: 100%;
  margin: 0.5rem 0;
}
textarea {
  height: 8rem;
}
.post-btn {
  background-color: #147535;
  color: aliceblue;
  width: 100%;
  padding: 0.5rem 0;
  border: none;
}
.post-btn:hover {
  background-color: #8fe0aa;
  color: #3b3b3b;
}

/* =============mediaQuery============ */
@media screen and (max-width: 700px) {
  .article-header {
    flex-direction: column;
  }
}
